body{
    margin: 0;
    padding: 0;
}

.wrapper{
    text-align: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.title {
    color: aqua;
    text-align: center;
}

.menu {
    position: fixed;
    background: gray;
    display: table;
    width: 100%;
    opacity: 0.7;
    height: 7%;
}
.menu div{
    text-align: center;
    display: table-cell;
    width:calc(100%/3.2);
    vertical-align: middle;
}
.menu a{
    text-decoration: none;
}

.footer {
    background: gray;
    width: 100%;
    text-align: center;
    height: 100px;
}
.footer a{
    color: black;

}

table {
    width: 100%;
    text-align: center;
    border: 1px solid grey;
    border-collapse: collapse;
}
tr{

    border: 1px solid grey;
}
td{
    text-align: center;
    border: 1px solid grey;
}

.video{
    min-width: 100%;
    min-height: 100%;
    width:100%;
    height:auto;
    position: absolute;
}

